<div class="container">
  <h1>Stupid Coaching</h1>
    <div class="question">
      <h3> <%= @question %> </h3>
      <p> - You </p>
    </div>
    <div class="answer">
      <h3> <%= @answer %> </h3>
    </div>
</div>

<%= link_to "Ask a new question", ask_path %>
