<div class="banner">
 <h1> Stupid Coaching </h1>
</div>
<div class="container">
  <form action="/answer">
    <input type="text" name="question" placeholder="Type your question here">
    <input type="submit" value="Ask!">
  </form>
</div>
